body {
    background-color: peachpuff;
}

header {
    color:saddlebrown;
    text-align:center;
    font-weight: bold;
}

p {
    color:saddlebrown;
}

p.a {
    text-align: left;
}

p.b {
    text-align: center;
}

p.c {
    text-align: right;
}

a {
    color: blue;
}

p.red {
    color:sienna;
}

address {
    color:sienna;
}