body {
    background-color: peachpuff;
}

header {
    color:saddlebrown;
    text-align:center;
    font-weight: bold;
}

p {
    color:saddlebrown;
}

div.la Carta {
    margin: 5px;
    border: 1px;
    float: left;
}

div.La Carta a {
    font-weight: left;
    padding-left: 150px;
}

div.carta img {
     font-weight: left;
     margin-left: 150px;
     float: left;
     width: 150px;
}

div.cafe {
     margin: 5px;
     border: 1px;
     float: center;
}

div.taza img {
    font-weight:top;
    float: top;
    width: 150px;
    margin-right:100px;
}

div.El café a {
    font-weight: center;
    padding-top: 100px;
}

div.contacto {
    margin: 5px;
}
div.contacto img{
    font-weight: right;
    width: 150px;
    float:right;
    
}